<?xml version="1.0" encoding="utf-8" ?>
<!--##########################################################-->
<!--###                 Disclaimer                         ###-->
<!--##########################################################-->
<!--### Lately, I started to get very busy after I         ###-->
<!--### started my new position and I couldn't keep up     ###-->
<!--### with clients demands & requests for customizations ###-->
<!--### & upgrades, so I decided to publish this module    ###-->
<!--### for community free of charge. Building on that,    ###-->
<!--### I expect respect from whoever gets his/her hands   ###-->
<!--### on my code, not to copy nor rebrand the module &   ###-->
<!--### sell it under their names.                         ###-->
<!--##########################################################-->

<odoo>
    <data>

        <!--
            Root Menu
        -->
        <menuitem id="menu_odoo_workflow_root"
                  name="Workflow"
                  web_icon="odoo_dynamic_workflow,static/description/icon.png"
                  groups="group_manager"
                  sequence="200"/>

    </data>
</odoo>